html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*==============================================*/
/*==============================================*/






body {
    background: #F6F6F6;
}

div.container {
    width: 462px;
    height: 247px;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#mainBox {
    background: #001F30;
    width: 462px;
    height: 247px;
}

div#mainBox img {
    display: none;
}

#mainBox h1 {
    font-size: 40px;
}

#mainBox h2 {
    text-align: right;
    margin-top: 4px;
}

input, button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 9px;
}

input {
    border: 3px solid #FF006A;
    margin-top: 35px;
    margin-bottom: 15px;
    outline: none;
    background: black;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

input::placeholder {
    color: #a4a4a4;
}

input:focus {
    border-color: white;
}

button {
    border: none;
    background: #FF006A;
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 60, 105);

}

div h1 span {
    color: #FF006A;
    font-weight: bold;
}

div#whyBox {
    background: #FF006A;
    width: 462px;
    height: 279px;
    top: -89px;
    left: 392px;
    z-index: -1;
    transition:  0.3s ease-in-out;
    transform-origin: top left;
}

div#mainBox img {
    display: none;
}

div#whyBox:hover {
    top: -100px;
    left: 410px;
}

#whyBox h1 {
    font-size: 40px;
    font-weight: bold;
}

#whyBox h2 {
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
    margin-left: 65px;
    line-height: normal;
}

#extra-space {
    display: none;
}

.container div {
    border-radius: 22px;
    position: absolute;
    box-sizing: border-box;
    padding: 27px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

p.message {
    color: #FF006A;
    font-weight: bold;
    position: relative;
    top: 30px;
    text-align: center;
    display: none;
    width: 100%;
}


/*MOBILE CODE*/

@media all and (max-width: 1280px) {
    body {
        background: #FF006A;
    }

     div.container {
         /*background: red;*/
         width: 100%;
         height: 100%;
         /*height: auto;*/
         /*position: relative;*/
         /*margin: 0;*/
         transform: none;
         top: 0;
         left: 0;
         /*left: 0;*/
     }

    div#whyBox {
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        text-align: center;
    }

    div#whyBox:hover {
        top: 0;
        left: 0;
    }

    div#whyBox h1 {
        margin: 40px 0;
    }

    div#whyBox h2 {
        margin: 0;
        text-align: center;
    }

    #extra-space {
        display: block;
    }


    div#mainBox {
        width: 100%;
        height: auto;
    }

    div#mainBox h1, div#mainBox h2 {
        text-align: center;
    }

    div#mainBox #input {
        margin-top: 15px;
    }

    div#mainBox h2 {
        margin-top: 50px;
    }

    div#mainBox img {
        display: block;
        width: 110px;
        margin: 20px auto;
    }

    div.container div {
        position: relative;
        border-radius: 0;
        /*display: block;*/
    }

    p.message {
        top: 0;
        margin-top: 15px;
    }
}